/* CSS overrides */
.ui-dialog-buttonset {
  float:initial !important;
  text-align: center;
}

#spdr .spdr-amount {
	color: #666666;
}
#spdr .spdr-moving-label {
	color: blue;
}

.ui-slider-handle {
	border-color: blue !important;
}

#spdr #spdr-reset {
	cursor: pointer;
}